{{!-- Previous/next page links - displayed on every page --}}
{{!-- pagination --}}
<div class="paging">
	<div class="paging-up">
		{{#if prev}}
		<a href="{{page_url prev}}">上一页</a>
		{{else}}
		<span title="no more!">上一页</span>
		{{/if}}
	</div>
	<div class="paging-text">
		第 {{page}} 页  总 {{pages}} 页
	</div>
	<div class="paging-down">
		{{#if next}}
		<a href="{{page_url next}}">下一页</a>
		{{else}}
		<span title="no more!">下一页</span>
		{{/if}}
	</div>
</div>